body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 11px;
}

* {
  cursor: default;
}

.window() {
  border: 1px solid #222;
  border-radius: 5px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.1);
  background: #454545;
}

@import "elements.less";
@import "layout.less";
@import "nodes.less";
@import "node-editor.less";
@import "node-selector.less";
@import "node-layout.less";
@import "preview-editor.less";
@import "code.less";
@import "about-window.less";
