.node{
	@border-radius: 5px;
	width: 150px;
	position: absolute;
	left: 250px;
	top: 250px;
	border-top-left-radius: @border-radius;
	border-top-right-radius: @border-radius;
	background-color: rgba(80, 80, 80, 0.5);
	border: 1px solid #222;
	transition: box-shadow 0.08s;

	&.selected{
		box-shadow: 0 0 1px 2px orange;
	}

	@text-color: #888;

	.header{
		border-top-left-radius: @border-radius;
		border-top-right-radius: @border-radius;
		height: 16px;
		background-color: rgba(200, 200, 200, 0.15);
		text-align: center;
		font-size: 11px;
		line-height: 16px;
		color: #ddd;
		border-bottom: 1px solid #333;
		
		&.dragging{
			cursor: move;
		}
	}

	.io{
		display: flex;
		padding-top: 3px;
		
		.inputs, .outputs{
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;

		}

		.io-component{
			color: @text-color;
			position: relative;
		}

		.io-connector{
			width: 15px;
			background-image: data-uri('image/svg+xml;charset=UTF-8', 'connector.svg');
			position: absolute;
			top: 0;
			bottom: 2px;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			margin: -1px 0;
			&.selected{
				background-image: data-uri('image/svg+xml;charset=UTF-8', 'connector_selected.svg');
			}
		}

		.inputs{
			.io-component{ padding-left: 10px; }
			.io-connector{ left: -7px; }
		}

		.outputs{
			text-align: right;
			.io-component{ padding-right: 10px; }
			.io-connector{ right: -7px; }
		}
	}

	.content{
		padding: 5px;
		color: @text-color;
	}
}

.connection{
	.line, .outline{
		fill: transparent;
	}

	.line{
		stroke: gray;
		stroke-width: 2;
		transition: stroke 0.08s;
	}

	.outline{
		stroke: black;
		stroke-width: 4;
	}

	&.selected .line{
		stroke: white;
	}
}