#nodes-container{
	overflow: hidden;
}

#nodes-origin{
	position: absolute;
	left: 75px;
	top: 75px;
	z-index: 2;
}

#nodes-connections{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}