.horizontalFields{
	display: flex;

	.field-section{
		flex-grow: 1;
		display: flex;
		margin-right: 10px;
		align-items: baseline;

		&.noalign{
			align-items: stretch;
		}

		&:last-child{
			margin-right: 0;
		}
	}

	&.compact .field-section{
		margin-right: 4px;
		&:last-child{
			margin-right: 0;
		}
	}

	.field-label{
		margin-right: 5px;
		margin-left: 5px;

		&:first-child{
			margin-left: 0;
		}

		&:last-child{
			margin-right: 0;
		}
	}

	input[type="text"]{
		flex-grow: 1;
		width: 0px;
	}
}

.vertical-list>*{
	margin-bottom: 5px;
}

.vertical-list>*:last-child{
	margin-bottom: 0;
}

.split{
	display: flex;

	.split-area{
		flex-grow: 1;
		margin-right: 5px;

		&:last-child{
			margin-right: 0;
		}
	}
}

.section-name{
	color: #CCC;
	margin-bottom: 3px;
	margin-top: 6px;
}