.node{
	width: 150px;
	height: 75px;
	position: absolute;
	left: 250px;
	top: 250px;
	overflow: hidden;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: rgba(200, 200, 200, 0.1);
	border: 1px solid #222;

	.header{
		height: 16px;
		background-color: rgba(200, 200, 200, 0.15);
		text-align: center;
		font-size: 11px;
		line-height: 16px;
		color: #ddd;
		border-bottom: 1px solid #333;
	}
}