@padding: 4px;

.horizontal {
  display: flex;
  align-items: baseline;

  & > * {
    margin-right: @padding;
    &:last-child {
      margin-right: 0;
    }
  }

  &.align-middle {
    align-items: center;
  }

  input[type="checkbox"] {
    margin-right: @padding !important;
    &:last-child {
      margin-right: 0;
    }
  }

  input[type="text"] {
    flex-grow: 1;
    width: 0px;
  }

  .inline-next {
    margin-left: 5px;
  }
}

.vertical {
  & > * {
    margin-bottom: @padding;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.split {
  display: flex;

  .split-area {
    flex-grow: 1;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.section-name {
  color: #ccc;
  margin-bottom: 3px;
  margin-top: 6px;
}
